<section class="hero" style="background-image: url(img/backgrounds/hero-backg.jpg);">
  <div class="hero-backgr-image hero-backgr-image1">
    <img loading="lazy" src="img/images/image-backgr-circle.png" class="image" width="" height="" alt="">
  </div>
  <div class="hero-backgr-image hero-backgr-image2">
    <img loading="lazy" src="img/images/image-backgr-plate.png" class="image" width="" height="" alt="">
  </div>
  <div class="hero-backgr-image hero-backgr-image3">
    <img loading="lazy" src="img/images/prod1.png" class="image" width="" height="" alt="">
  </div>
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <div class="separator">
        <svg xmlns="http://www.w3.org/2000/svg" width="3" height="9" viewBox="0 0 3 9" fill="none">
          <path d="M0 4.5L3 0.5L3 8.5L0 4.5Z" fill="white" />
        </svg>
      </div>
      <span>Оборудование</span>
    </div>
    <div class="hero__inner">
      <h1 class="hero__title h1">Клипсаторы и вакуумные шприцы от производителя</h1>
      <div class="hero-production__name">Мы производим клипсаторы и вакуумные шприцы, которые сочетают:</div>
      <div class="hero-production__items">
        <div class="hero-production__item">
          <div class="hero-production__item-image">
            <img loading="lazy" src="img/productions/prod1.png" class="image" width="64" height="80" alt="">
          </div>
          <div class="hero-production__item-name">Автоматические клипсаторы на непрерывной клипсе</div>
        </div>
        <div class="hero-production__item">
          <div class="hero-production__item-image">
            <img loading="lazy" src="img/productions/prod2.png" class="image" width="64" height="80" alt="">
          </div>
          <div class="hero-production__item-name">Автоматические и полуавтоматические на п-образной клипсе</div>
        </div>
        <div class="hero-production__item">
          <div class="hero-production__item-image">
            <img loading="lazy" src="img/productions/prod3.png" class="image" width="64" height="80" alt="">
          </div>
          <div class="hero-production__item-name">Ручные клипсаторы</div>
        </div>
        <div class="hero-production__item">
          <div class="hero-production__item-image">
            <img loading="lazy" src="img/productions/prod4.png" class="image" width="64" height="80" alt="">
          </div>
          <div class="hero-production__item-name">Вакуумные шприцы</div>
        </div>
        <div class="hero-production__item">
          <div class="hero-production__item-image">
            <img loading="lazy" src="img/productions/prod5.png" class="image" width="64" height="80" alt="">
          </div>
          <div class="hero-production__item-name">Сосисочная линия</div>
        </div>
      </div>
      <div class="hero__text">
        <p>Наше оборудование — это передовые инженерные разработки, а комплексное сервисное
          обслуживание гарантирует максимальный срок службы.</p>
        <p>Хотите убедиться лично? </p>
      </div>
      <div class="hero__bottom">
        <div class="hero__button btn-reset btn-light">Оставьте заявку</div>
        <div class="hero__call">
          <span>или звоните</span>
          <div class="hero__tel icon-info">
            <img loading="lazy" src="img/icons/phone-message-light.svg" class="image" width="20" height="20" alt="">
            <a href="tel:+78123193040">+7 (812) 319-30-40</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="features__content">
    <div class="container features__container">
      <div class="features__body">
        <div class="features__title h2">Убедитесь в качестве и удобстве работы с нашим оборудованием</div>
        <div class="features__items">
          <div class="features__item">
            <img loading="lazy" src="img/productions/prod6.png" class="image" width="" height="" alt="">
          </div>
          <div class="features__item">
            <img loading="lazy" src="img/productions/prod7.png" class="image" width="" height="" alt="">
          </div>
          <div class="features__item">
            <img loading="lazy" src="img/productions/prod8.png" class="image" width="" height="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features__info">
    <div class="features__inner">
      <div class="features__advans">
        <div class="features__advan"><strong>Привезём</strong> оборудование к вам</div>
        <div class="features__advan"><strong>Подключим</strong> и настроим</div>
        <div class="features__advan"><strong>Предоставим время на тестирование</strong> — работайте в реальных условиях
        </div>
      </div>
      <div class="features__record">
        <div class="features__record-name">Запишитесь на тест-драйв прямо сейчас!</div>
        <div class="features__record-bottom">
          <div class="features__record-button"></div>
        </div>
        <div class="features__bottom">
          <div class="features__button btn-reset btn-light">Оставьте заявку</div>
          <div class="features__call">
            <span>или звоните</span>
            <div class="features__tel icon-info">
              <img loading="lazy" src="img/icons/phone-message-light.svg" class="image" width="20" height="20" alt="">
              <a href="tel:+78123193040">+7 (812) 319-30-40</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block-video">
  <div class="container">
    <h2 class="block-video__title h2">Видео</h2>
    <div class="swiper-style__wrapper">
      <div class="swiper swiper-style block-video__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="block-video__image" data-graph-path="modal-video">
              <img loading="lazy" src="img/videos-preview/video-preview1.jpg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="block-video__image" data-graph-path="modal-video">
              <img loading="lazy" src="img/videos-preview/video-preview2.jpg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="block-video__image" data-graph-path="modal-video">
              <img loading="lazy" src="img/videos-preview/video-preview3.jpg" class="image" width="" height="" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="block-video__image" data-graph-path="modal-video">
              <img loading="lazy" src="img/videos-preview/video-preview1.jpg" class="image" width="" height="" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination block-video__swiper-pagination"></div>
      <div class="swiper-button-prev block-video__swiper-button-prev"></div>
      <div class="swiper-button-next block-video__swiper-button-next"></div>
    </div>
  </div>
</section>

<section class="about-company">
  <div class="container">
    <div class="about-company__top">
      <div class="about-company__content">
        <h2 class="about-company__title h2">
          <span>«ТехноКлип»</span> – надёжные решения для мясоперерабатывающей промышленности
        </h2>
        <div class="about-company__subtitle">Производим оборудование и расходные материалы с 2001 года</div>
      </div>
      <div class="about-company__info">
        <p>Компания «ТехноКлип» – ведущий российский разработчик и поставщик профессионального оборудования
          для производства колбасных изделий и мясных продуктов.</p>
        <div class="about-company__info-image">
          <img loading="lazy" src="img/images/image-clover-full.png" class="image" width="" height="" alt="">
        </div>
      </div>
    </div>
    <div class="choose-us">
      <div class="choose-us__item-name h3">Почему выбирают нас</div>
      <div class="choose-us__items">
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us1.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">Низкая стоимость эксплуатации</div>
        </div>
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us2.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">Широкий выбор запчастей всегда в наличии</div>
        </div>
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us3.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">Короткие сроки производства</div>
        </div>
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us4.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">Технический сервис и поддержка 24/7</div>
        </div>
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us5.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">Изготовление по индивидуальным требованиям производства</div>
        </div>
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us6.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">Гарантия на оборудование
            от 12 месяцев</div>
        </div>
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us7.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">Производим пуско-наладочные работы при запуске</div>
        </div>
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us8.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">25 лет на рынке мясоперерабаты-вающего оборудования</div>
        </div>
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us9.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">200+ профессионалов</div>
        </div>
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us10.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">Сертификат ISO 9001:2015</div>
        </div>
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us11.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">1000+ клиентов по всему миру</div>
        </div>
        <div class="choose-us__item">
          <div class="choose-us__item-icon">
            <img loading="lazy" src="img/choose-us/choose-us12.png" class="image" width="" height="" alt="">
          </div>
          <div class="choose-us__item-name">Производство полного цикла</div>
        </div>
      </div>
    </div>
    <div class="our-mission">
      <div class="our-mission__content">
        <div class="our-mission__title h3">Наша миссия</div>
        <div class="our-mission__text">
          <p>Создавать передовое оборудование, качественные расходные материалы и первоклассный сервис
            для мясоперерабатывающих предприятий по всему миру. Постоянно совершенствовать производимую продукцию,
            стремясь к развитию российской промышленности, благосостоянию клиентов, партнёров и сотрудников.</p>
        </div>
      </div>
      <div class="our-mission__image">
        <img loading="lazy" src="img/images/image-mission.png" class="image" width="" height="" alt="">
      </div>
    </div>
    <div class="why-us">
      <div class="why-us__title h3">«ТехноКлип» сегодня</div>
      <div class="why-us__items">
        <div class="why-us__item">
          <div class="why-us__item-icon">
            <img loading="lazy" src="img/icons/icon-check-green.png" class="image" width="" height="" alt="">
          </div>
          <div class="why-us__item-name">Собственное производство в России</div>
        </div>
        <div class="why-us__item">
          <div class="why-us__item-icon">
            <img loading="lazy" src="img/icons/icon-check-green.png" class="image" width="" height="" alt="">
          </div>
          <div class="why-us__item-name">Поставки по всей РФ и в дружественные страны</div>
        </div>
        <div class="why-us__item">
          <div class="why-us__item-icon">
            <img loading="lazy" src="img/icons/icon-check-green.png" class="image" width="" height="" alt="">
          </div>
          <div class="why-us__item-name">Широкий ассортимент продукции</div>
        </div>
        <div class="why-us__item">
          <div class="why-us__item-icon">
            <img loading="lazy" src="img/icons/icon-check-green.png" class="image" width="" height="" alt="">
          </div>
          <div class="why-us__item-name">Команда профессионалов с многолетним опытом</div>
        </div>
      </div>
    </div>
  </div>
</section>