<section class="hero" style="background-image: url(img/backgrounds/hero-backg.jpg);">
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <div class="separator"></div>
      <span>Оборудование</span>
    </div>
    <h1 class="hero__title h1">Клипсаторы и вакуумные шприцы от производителя</h1>
    <div class="hero-production__name">Мы производим клипсаторы и вакуумные шприцы, которые сочетают:</div>
    <div class="hero-production__items">
      <div class="hero-production__item">
        <div class="hero-production__item-image">
          <img loading="lazy" src="img/productions/prod1.png" class="image" width="64" height="80" alt="">
        </div>
        <div class="hero-production__item-name">Автоматические клипсаторы на непрерывной клипсе</div>
      </div>
      <div class="hero-production__item">
        <div class="hero-production__item-image">
          <img loading="lazy" src="img/productions/prod2.png" class="image" width="64" height="80" alt="">
        </div>
        <div class="hero-production__item-name">Автоматические и полуавтоматические на п-образной клипсе</div>
      </div>
      <div class="hero-production__item">
        <div class="hero-production__item-image">
          <img loading="lazy" src="img/productions/prod3.png" class="image" width="64" height="80" alt="">
        </div>
        <div class="hero-production__item-name">Ручные клипсаторы</div>
      </div>
      <div class="hero-production__item">
        <div class="hero-production__item-image">
          <img loading="lazy" src="img/productions/prod4.png" class="image" width="64" height="80" alt="">
        </div>
        <div class="hero-production__item-name">Вакуумные шприцы</div>
      </div>
      <div class="hero-production__item">
        <div class="hero-production__item-image">
          <img loading="lazy" src="img/productions/prod5.png" class="image" width="64" height="80" alt="">
        </div>
        <div class="hero-production__item-name">Сосисочная линия</div>
      </div>
    </div>
    <div class="hero__text">
      <p>Наше оборудование — это передовые инженерные разработки, а комплексное сервисное
        обслуживание гарантирует максимальный срок службы.</p>
      <p>Хотите убедиться лично? </p>
    </div>
    <div class="hero__bottom">
      <div class="hero__button btn-reset btn-light">Оставьте заявку</div>
      <div class="hero__tel">
        <span>или звоните</span>
        <div class="hero__tel icon-info">
          <img loading="lazy" src="img/icons/phone-message.svg" class="image" width="20" height="20" alt="">
          <a href="tel:+78123193040">+7 (812) 319-30-40</a>
        </div>
      </div>
    </div>
  </div>
</section>