<footer class="footer">
  <div class="container"></div>
</footer>

<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-video">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <iframe id="fancybox-frame1756579608638" name="fancybox-frame1756579608638" class="fancybox-iframe"
        frameborder="0" vspace="0" hspace="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""
        allowtransparency="true"
        src="https://rutube.ru/play/embed/04d05af3841b3a7e276838e562f73876/?autoplay=1&amp;autohide=1&amp;fs=1&amp;rel=0&amp;hd=1&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1"
        scrolling="no"></iframe>
    </div>
  </div>
</div>