<header class="header">
  <div class="header-top">
    <div class="container header-top__container">
      <a href="/" class="header-top__logo">
        <img loading="lazy" src="img/logos/logo.png" class="image" width="200" height="110" alt="">
      </a>
      <div class="header-top__lang lang">RU</div>
      <div class="header-top__location icon-info">
        <img loading="lazy" src="img/icons/location.svg" class="image" width="20" height="20" alt="">
        <span>195030, Санкт-Петербург, ул. Химиков, 28</span>
      </div>
      <div class="header-top__info">
        <div class="header-top__tel icon-info">
          <img loading="lazy" src="img/icons/phone-message.svg" class="image" width="20" height="20" alt="">
          <a href="tel:+78123193040">+7 (812) 319-30-40</a>
        </div>
        <div class="header-top__mail icon-info">
          <img loading="lazy" src="img/icons/mail.svg" class="image" width="20" height="20" alt="">
          <a href="mailto:info@technoclip.ru">info@technoclip.ru</a>
        </div>
        <div class="header-top__button btn-reset btn-orange">Связаться с нами</div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container header-bottom__container">
      <div class="header-bottom__burger">
        <img loading="lazy" src="img/icons/burger.svg" class="image" width="32" height="32" alt="">
        <span>Весь сайт</span>
      </div>
      <div class="header-bottom__menu">
        <nav class="nav" title="">
          <ul class="list-reset nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Сервис</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Компания</a></li>
            <li class="nav__item"><a href="#" class="nav__link">форум</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="header-bottom__search search-button">
        <img loading="lazy" src="img/icons/search-button.svg" class="image" width="36" height="36" alt="">
      </div>
    </div>
  </div>
</header>